<div class="container text-center">
  <h1 class="mb-3">Gossips</h1>
  <div>Do you want to create a new gossip?</div>
  <div><%= link_to "Click here", new_gossip_path %></div>
  <br>
  <br>
  <div class="row row-cols-1 row-cols-md-3 text-center">
    <% @gossips.each_with_index do |gossip| %>
      <div class="col">
        <div class="col card mb-4 rounded-3 shadow-sm">
          <div class="card-header">
            <a class="index" href="/gossip/<%=gossip.id %>">Gossip n° <%= gossip.id %></a>
          </div>
          <div class= "card-body">
            <span class="card-tile text-secondary ">Author:      </span>
            <br>
            <%= gossip.user.first_name %>
            <br>
            <span class="font-bold text-secondary">Title:      </span>
            <br>
            <%= gossip.title %>
            <br>
            <br>
            <span class="font-bold text-secondary">Comments:      </span>
            <br>
            <%= gossip.comments.count %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
