<div class="container text-center">
    <div class="card shadow-sm">
        <div class="card-header">
            <a class="index" href="/user/<%=@user.id %>">User n° <%= @user.id %></a>
        </div>
        <div class= "card-body">
            <p>First name: <br><%= @user.first_name %></p><br>
            <p>Last name: <br><%= @user.last_name %></p><br>
            <p>User creation: <br><%= @user.created_at %></p><br>
        </div>
    </div>
</div>
